<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="・・・">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>お問い合わせ</title>
    <script src="https://kit.fontawesome.com/701f54efca.js" crossorigin="anonymous"></script>
</header>

<body>
    <div class="title">
        <div name="title-container">
            EDIT
            <br>
            <span name="subtitle">
                アカウント編集
            </span>
        </div>
    </div>

    <div class="main-container">
        <div class="form-container">
            <div class="form-content-container">
                <%=form_tag("/users/#{@user.id}/update") do%>
                    <div class="form-content" name="user-name">
                        <label for="username">ユーザー名</label>
                        <input type="text" id="username" name="name" placeholder="&#xf007; 入力例：早稲田花子" style="padding: 10px;" value=<%=@user.name%>>
                    </div>
                    <div class="form-content" name="email">
                        <label for="email">メールアドレス</label>
                        <input type="text" id="email" name="email" placeholder="&#xf0e0; 入力例：wasedahanako@gmail.com" style="padding: 10px;" value=<%=@user.email%>>
                    </div>
                    <div class="form-content" name="button">
                        <input name="submit-button" type="submit" value="&#xf1d8; 送信">
                    </div> 
                <% end %>
            </div>
        </div>
    </div>
</body>

