<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="・・・">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <title>授業一覧</title>
    <link rel="stylesheet" href="coursrs.css">
    <script src="https://kit.fontawesome.com/701f54efca.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
</head>
<body>
    <div class="title">
        COURSE LIST
        <br>
        <span name="subtitle">
            授業一覧
        </span>
    </div>
    <div class="main-container-index">
        <%  @courses.each do |course| %>
            <div class="course-information">
                <div class="course-description">
                    <img src=<%= "../../assets/icon_images/#{course.image_icon}"%> alt=<%= course.image_icon %>>
                    <p name="course-name">
                        <%= link_to(course.name,"/courses/#{course.id}") %> 
                    </p>
                    <span name="course-evaluation">
                        <% if course.average_overall == nil %>
                            <i class="fa-regular fa-comment" name="index">レビューがありません</i> 
                        <% elsif course.average_overall > 4 %>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                        <% elsif  course.average_overall > 3 %>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                        <% elsif  course.average_overall > 2 %>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                        <% elsif  course.average_overall > 1 %>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                        <% else%>
                            <i class="fa-solid fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                            <i class="fa-regular fa-star" name="index"></i>
                        <% end %>
                    </span>
                </div>
            </div>
        <% end %>
    </div>
</body>