// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
    text-align: right;
    font-weight: 800;
    font-size: 48px;
    padding-right: 160px;
    border-bottom: solid 1px;
    border-color: grey;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.description{
    width: 45%;
    padding: 0 30px 0 30px;
    margin-top: 70px;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.form-container{
    width: 100%;
    padding: 0 160px 0 160px;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.error-message{
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}
.main-container{
    display: flex;
}
input{
    width: 50%;
    background-color: ghostwhite;
    border: solid 1px;
    font-family: "Font Awesome 5 free";
}
textarea{
    width: 50%;
    background-color: ghostwhite;
    border: solid 1px;
}
.form-content[name="button"]{
    display: flex;
    justify-content: center;
}
input[name="submit-button"]{
    width: 150px;
    height: 45px;
    background: #95ECFFB0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
label{
    font-weight: 400;
    font-size: 24px;
}