.error-message{
    color: red;
    font-size: 20px;
    text-align: center;
    background-color: #FFCC99;
}
.guest-login{
    font-size: 20px;
    color: black;
}
p[name="main-error-massage"]{
    font-family: sans-serif;
}
.edit-button{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.guest_login_button{
    text-align: center;
    margin-top: 15px;
    border: solid 1px;
}
.guest_login_button:hover{
    background-color: antiquewhite;
}