/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}
.use_icon {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 3;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}    
a{
    text-decoration: none;
}
/**ここから本文のCSS*/
.header{
    background-color:rgba(174,221,236,0.61);
    display: flex;
    justify-content: right;
}
.header-logo{
    width:116px;
    height:60px;
    padding-left: 50px;
    position: absolute;
    left: 0px;
}
.header-logo:hover{
    transform: scale(1.2,1.2);/**ホバー時に画像を拡大する。縦横それぞれ1.2倍という意味*/
    overflow: hidden;/**拡大したときに枠からはみ出た分を非表示にするコード*/
    transition-duration: 0.3s;/*拡大されるのにかかる時間を設定している*/
}

.hlist{
    line-height:60px;
    padding: 0 40px;
    font-family: sans-serif;
    border-left: solid 1px;
    border-color: antiquewhite;
}
.hlist:hover{
    opacity:0.7;
}

.Followus{
    background-color:rgba(71,209,239,0.7);
    height:130px;
    clear:both;
    text-align: center;
}
.title3{
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
}
.followicon_container{/**中身のコンテンツを等間隔で配置するためのコードとそのためのdiv*/
    display: flex; /**これを書くことでこのdivの中身をflex要素にする*/
    justify-content: space-evenly;  /**flex要素を等間隔に並べるコード*/
    /**このコンテナはfollowiconをflexにするためにある。これによりfollowiconが中央に配置される*/
}
.followicon{/**これはアイコンたちを等間隔に並べるためのdiv*/
    display: flex;
    justify-content: space-evenly;/**これはアイコンたちを等間隔に並べている*/
    width:36%;/**これによりアイコン同士の間隔を調節している*/
    /**text-align: center;*/ /**これがいらない理由はfollowicon_containerがあるから！！*/
}
.follow{
    font-size: 24px;
    color: black;
}

.flash {
    font-size: larger;
    color: red;
}
.flash{
    font-size: 30px;
    background-color: #FFCC99;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: grey;
}
.inner-description{
    font-size: 12px;
    color: grey;
    margin-top: 15px;
}